
:root{
    --principal-color: #324b77;
    --secondary-color: #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.ventas-mes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 1rem;

}

.ventas-mes h2{
    font-size: 2rem;
    color: var(--principal-color);
    margin: 1rem;
}